<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

  


<style type="text/css"> 
<!-- 
 
 #navbar ul { 
	margin: -10; 
	padding: 10px; 
	list-style-type: none; 
width:100%;
 min-width:1000px;
 	text-align: center; 
	background-color: #fff; 
	} 
 
#navbar ul li {  
	display:inline-block
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .5em 3em; 
	color: #460078; 
	background-color: #fff; 
	} 
 
#navbar ul li a:hover { 
	color: #fff; 
	background-color: #460078; 
	} 
 
--> 
</style> 
</head> 
<body> 
<div id="navbar"> 
<b>
  <ul> 
 	<li><a href="#">Home</a></li> 
	<li><a href="#">Math</a></li> 
	<li><a href="#">Science</a></li> 
	<li><a href="">English</a></li> 
	<li><a href="#">Social Studies</a></li> 
	<li><a href="#">Foreign Language</a></li> 
	
	</b>
  </ul> 
</div> 
</body> 



</html>
